.targetList {
  background: #ff0000;
}

.targetList ul {
  display: flex;
  padding: 20px;
  gap: 16px;
  justify-content: center;
  margin: 0;
}

.targetList li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.targetList img {
  border-radius: 50%;
  overflow: hidden;
  width: 65px;
  height: 65px;
  padding: 5px;
  object-fit: contain;
  object-position: center bottom;
}

.targetList span {
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .targetList img {
    width: 45px;
    height: 45px;
  }
  
  .targetList span {
    font-size: 0.8rem;
  }
}
