.targetList {
  background: #ff0000;

  ul {
    display: flex;
    list-style: none;
    padding: 20px;
    gap: 16px;
    justify-content: center;
    margin: 0;

    li {
      border-radius: 50%;
      overflow: hidden;
      width: 60px;
      height: 60px;
      background: #ffffff;
      
      img {
        width: 50px;
        height: 50px;
        padding: 5px;
        object-fit: contain;
        object-position: center bottom;
      }
    }
  }
}
