.gameboard {
  position: relative;
  height: calc(100dvh - 150px);
  display: block;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e00000 white;
}

.gameboard img {
  display: block;
  object-fit: contain;
}

@media screen and (max-width: 576px) {
  .gameboard {
    height: calc(100dvh - 100px);
  }
}
