.listHeader, .listBody li {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  span:nth-child(3) {
    justify-self: end;
  }
}

.listBody {
  margin-bottom: 1em;
}

.userRank {
  margin: 0;
  margin-bottom: 1em;;
  font-size: 1.2rem;
}
