* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: #e00000;
  color: #ffffff;
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.8rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #aa0000;
}

@media screen and (max-width: 576px) {
  button {
    font-size: 0.8rem;
  }
  
}
