
.btnGroup {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.btn {
  background-color: #fff;
  color: var(--primary-color);
  border-radius: 1em;
  width: auto;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
}
